<template>
  <section class="card-white">
    <h3>Job Offers Sent <a :href="route('sentJobs.sent')" class="btn btn-purple text-light">View All</a></h3>
    <div class="job-info" v-for="(job,index) in items" :key="job.id">
      <div class="img-round">
        <img :src="job.service.image_url" alt="service">
      </div>
      <div class="info-right">
        <div class="time">
          <timeago :datetime="job.created_at" :auto-update="true"/>
        </div>
        <h4>{{ job.display_name }}, <span>{{ flatList(job.cities) }}</span></h4>
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <h5 :title="job.due_date">{{ job.formatted_due_date }}</h5>
          </div>
          <div class="col-sm-12 col-md-4 text-md-center mb-4 accepted">
            <strong>{{ job.applicants_count }} Accepted</strong>
          </div>
          <div class="col-sm-12 col-md-4 text-md-right">
            <div class="buttons">
              <button class="btn btn-grey"
                      :data-index="index"
                      :data-id="job.id"
                      data-toggle="modal"
                      data-target="#job-delete-modal">
                Cancel
              </button>
              <a :href="route('jobs.show',job)" class="btn btn-purple btn-small text-light">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import flatList from '@/js/mixins/flatList';

  export default {
    name: 'JobSent',
    mixins: [flatList],
    props: {
      jobs: {
        required: true,
        type: Array
      }
    },
    data() {
      return {
        items: this.jobs
      }
    },
    mounted() {
      this.$bus.$on('job.deleted', this.onDelete)
    },
    methods: {
      onDelete(index, response) {
        this.$delete(this.items, index);
        this.$toast.success('Job deleted.');
      }
    }
  }
</script>
