<template>
  <section class="card-white">
    <h3>Upcoming Jobs <a :href="route('receivedJobs.toDo')" class="btn btn-green">View All</a></h3>
    <div v-for="(job,index) in items" :key="job.id">
      <h2>On {{ job.formatted_due_date }}</h2>
      <div class="flex-wrap">
        <div class="upcoming-left">
          <h4>
            {{ job.display_name }}, <span>{{ flatList(job.cities) }}</span> <a
              :href="route('profile.show',job.creator)">
              by
              {{ job.creator.profile.first_name }}
            </a>
          </h4>
          <div class="price">${{ job.transferable_amount }}</div>
          <h6>Job Description</h6>
          <p>{{ job.description }}</p>
        </div>
        <div class="upcoming-right">
          <div class="card-bordered">
            <div class="card-top">
              <div class="img-round">
                <img :src="job.creator.profile.avatar_thumb_url" alt="avatar">
              </div>
              <h6>By {{ job.creator.profile.full_name }}</h6>
              <div class="text-truncate"><a :href="route('profile.show',job.creator)">{{ job.creator.email }}</a></div>
              <strong v-if="job.creator.address.primary_phone">
                <i class="fas fa-phone"/>
                (+1){{ job.creator.address.area_code }}-{{ job.creator.address.primary_phone }}
              </strong>
            </div>
          </div>
          <button class="btn btn-grey btn-block btn-warning text-dark" v-if="jobIsDone(job)">
            <i class="fas fa-check-circle"/> Done
          </button>
          <button class="btn btn-grey btn-block"
                  :data-index="index"
                  :data-id="job.id"
                  data-toggle="modal"
                  data-target="#job-done-modal"
                  v-else>
            Mark Job As Done
          </button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import flatList from '@/js/mixins/flatList';
  import _merge from 'lodash-es/merge';

  export default {
    name: 'UpcomingJobs',
    mixins: [flatList],
    props: {
      jobs: {
        required: true,
        type: Array
      }
    },
    data() {
      return {
        items: this.jobs
      }
    },
    mounted() {
      this.$bus.$on('job.done', this.onDone);
    },
    methods: {
      onDone(index, job) {
        this.$set(this.items, index, _merge(this.items[index], job));
        this.$toast.success('Job marked as Done.')
      },
      jobIsDone(job) {
        return job.status === 'done'
      }
    }
  }
</script>
