<template>
  <div class="card-white card-detail">
    <h3>Offer Accepted by</h3>
    <div class="job-info" v-for="user in applicants" :key="user.id">
      <div class="img-round">
        <img :src="user.profile.avatar_thumb_url" alt="avatar">
      </div>
      <div class="info-right">
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <h3>{{ user.profile.full_name }}</h3>
            <h4 class="font-weight-light">{{ flatList(user.cities) }}</h4>
            <div class="stars pb-3">
              <star-rating :rating="user.rating"
                           :read-only="true"
                           :show-rating="false"
                           :rounded-corners="true"
                           :padding="2"
                           :star-size="15"
                           :border-width="1"
                           border-color="#555"
              />
            </div>
            <p>{{ user.profile.bio }}</p>
            <h4><a :href="route('profile.show',user)">View Profile</a></h4>
          </div>
          <div class="col-sm-12 col-md-4 text-md-right">
            <div class="buttons">
              <a class="btn btn-green btn-small text-white m-0" :href="route('jobs.payments.assign',[jobId,user])">Assign The Job</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import flatList from '@/js/mixins/flatList';
  import StarRating from 'vue-star-rating';

  export default {
    name: 'JobApplicants',
    mixins: [flatList],
    props: {
      applicants: {
        type: Array,
        required: true
      },
      jobId: {
        type: Number,
        required: true
      }
    },
    components: {
      StarRating
    },
    data() {
      return {}
    },
    methods: {},
  }
</script>
