<template>
  <div class="card-white card-detail">
    <h3>
      Job Detail
      <span class="pl-3">Created <timeago :datetime="job.created_at" :auto-update="true"/></span>
    </h3>
    <div class="btn-group list-dropdown" v-if="canDeleteJob">
      <button type="button"
              class="btn btn-secondary dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        <i class="fas fa-ellipsis-v"/>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a href="#"
           :data-id="job.id"
           data-toggle="modal"
           data-target="#job-delete-modal">
          Delete
        </a>
      </div>
    </div>
    <div class="flex-wrap p-5">
      <div class="upcoming-left" :class="{ 'add-chat-section' : display }">
        <h2>On {{ job.formatted_due_date }}</h2>
        <h4>
          {{ job.display_name }}, <span>{{ flatList(job.cities) }}</span>
        </h4>
        <div class="price" v-if="job.transferable_incentive_amount">
          ${{ job.chargeable_amount }} + ${{
            job.transferable_incentive_amount }}
        </div>
        <div class="price" v-else>${{ job.chargeable_amount }}</div>
        <h6>Job Description</h6>
        <p>{{ job.description }}</p>

        <div class="job-btn position-relative" v-if="!jobStatusComplete(job) && job.assignee">
          <span class="chat-notification-indicator" v-show="job.chat_count">N</span>
          <button class="btn btn-purple chat-btn float-left" @click="toggleChatBox()">
            <i class="fas fa-comments"/>Chat
          </button>
        </div>

        <div class="form-group" v-if="!job.assignee">
          <form method="post" @submit.prevent="submit" class="wrap-form">
            <label>Incentive Amount</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-dollar-sign"/></span>
              </div>
              <input type="number"
                     :min="incentiveForm.incentive_amount"
                     step="5"
                     class="form-control"
                     v-model="incentiveForm.incentive_amount"
                     @change="incentiveCharges"
                     name="incentive_amount"
                     placeholder="Incentive Amount"
                     v-error="errors">
            </div>
            <div v-if="message" class="alert-info mb-1">{{ message }}</div>
            <div class="form-group">
              <button type="submit" class="btn btn-purple float-right" :disabled="processing">Update</button>
            </div>
          </form>
          <form-error :bag="errors" field="incentive_amount"/>
        </div>
      </div>

      <div class="upcoming-right">
        <div class="card-bordered">
          <div class="card-top" v-if="job.assignee">
            <div class="img-round">
              <img :src="job.assignee.profile.avatar_thumb_url" alt="avatar">
            </div>
            <h6>{{ job.assignee.profile.full_name }}</h6>
            <div class="text-truncate"><a :href="`mailto:${job.assignee.email}`">{{ job.assignee.email }}</a></div>
            <strong v-if="job.assignee.address.primary_phone">
              <i class="fas fa-phone"/>
              (+1){{ job.assignee.address.area_code }}-{{ job.assignee.address.primary_phone }}
            </strong>
          </div>
          <div class="card-top no-record" v-else>
            No Realtor Assigned Yet
          </div>
        </div>
        <button class="btn btn-grey btn-block"
                v-if="canMarkJobAsCompleted"
                :data-id="job.id"
                data-toggle="modal"
                data-target="#job-complete-modal">
          <i class="fas fa-check-double"/> Mark job as completed
        </button>
        <button class="btn btn-grey btn-block" v-if="!job.assignee">
          <i class="fas fa-info-circle"/>
          Assignment pending
        </button>
      </div>

      <div class="chat single-job-detail" v-if="display">
        <job-chat-modal :job="job" :user="job.creator" @hide="hideChat"/>
      </div>
    </div>
  </div>
</template>

<script>
  import formErrorsMixin from '@/js/mixins/formErrors';
  import flatList from '@/js/mixins/flatList';
  import JobChatModal from '@/js/components/jobs/chatModal';

  export default {
    name: 'JobDetail',
    components: {JobChatModal},
    mixins: [flatList, formErrorsMixin],
    props: {
      job: {
        type: Object,
        required: true
      },
      canMarkJobAsCompleted: {
        type: Boolean
      },
      canDeleteJob: {
        type: Boolean
      },
      incentivePercentage: {
        required: true,
        type: Number
      }
    },
    data() {
      return {
        incentiveForm: {
          incentive_amount: this.job.transferable_incentive_amount
        },
        message: null,
        display: false,
        processing: false,
      }
    },
    mounted() {
      this.$bus.$on('job.completed', this.onComplete);
      this.$bus.$on('job.deleted', this.onDelete);
    },
    methods: {
      submit() {
        this.processing = true;
        this.errors.clear();

        this.$http.post(route('jobs.incentive.update', this.job), Object.assign(this.incentiveForm))
          .then(response => {
            this.errors.clear();
            window.location.reload();
          })
          .catch(error => {
            this.recordErrors(error)
          })
          .then(() => {
            this.processing = false;
          })
      },
      onComplete(job) {
        window.location.reload();
      },
      onDelete() {
        window.location = route('dashboard');
      },
      incentiveCharges() {
        var totalAmount = (((this.incentivePercentage) / 100) * this.incentiveForm.incentive_amount).toFixed(2);
        this.message = 'Note: $' + totalAmount + ' will be charged extra for incentive';
      },
      jobStatusComplete(job) {
        return job.status === 'completed'
      },
      toggleChatBox() {
        this.job.chat_count = 0;
        this.display = !this.display;
      },
      hideChat(job) {
        this.display = false;
      }
    },
  }
</script>
