.navbar-nav {
  .nav-item {
    &.active {
      .nav-link {
        color: $black;
      }
    }

    &.dropdown {
      .dropdown-toggle {
        &::after {
          width: 1rem;
          text-align: center;
          float: right;
          vertical-align: 0;
          border: 0;
          font-weight: 900;
          content: '\f105';
          font-family: 'Font Awesome 5 Free';
        }
      }

      &.show {
        .dropdown-toggle::after {
          content: '\f107';
        }
      }

      &.no-arrow {
        .dropdown-toggle::after {
          display: none;
        }
      }
    }
  }
}

.sidebar {
  width: $sidebar-collapsed-width !important;
  background-color: $white;
  border-right: 1px solid $gray-300;
  min-height: calc(100vh - #{$navbar-base-height});
  @include sidebar-icons;

  .nav-item {
    .nav-link {
      color: fade-out($black, 0.5);

      &:active,
      &:focus,
      &:hover {
        color: $black;
      }
    }
  }

  &.toggled {
    width: 0 !important;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .sidebar {
    width: $sidebar-base-width !important;

    .nav-item {
      .nav-link {
        display: block;
        width: 100%;
        text-align: left;
        padding: 1rem;
        width: $sidebar-base-width;

        span {
          font-size: 1rem;
          display: inline;
        }
      }

      .dropdown-menu {
        position: static !important;
        margin: 0 1rem;
        // Position fix for Firefox
        top: 0;
      }

      &.dropdown .dropdown-toggle::after {
        display: block;
      }
    }

    &.toggled {
      overflow: visible;
      width: $sidebar-collapsed-width !important;
      @include sidebar-icons;
    }
  }
}

