/* -- Chat Section -- */
.chat {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
}

div.job-chat-modal {
  height: 100%;
}

.list-job {
  .chat {
    padding: 25px 0 !important;
  }
}

.upcoming-left .chat-notification-indicator {
  background: #63aa45;
  border: 3px solid white;
  border-radius: 50%;
  color: white;
  display: block;
  font-size: 1.3rem;
  font-weight: 300;
  height: 26px;
  position: absolute;
  text-align: center;
  width: 26px;
}

.chat-btn {
  i {
    margin-right: 1rem;
  }

  max-width: 200px;
  width: 100%;
}

.chat {
  .modal-dialog {
    position: relative !important;
    right: 0 !important;
    width: 100% !important;
    bottom: 0;
    height: 100%;
    margin: 0;
  }

}

.chat {
  .modal-header {
    display: block;
    background: #382064;
    color: #fff;

    .close {
      padding: 3rem;
      margin: -5rem 0rem -1rem auto;
      color: #fff !important;
      opacity: 1 !important;
      font-size: 2rem !important;
    }
  }
}

.mess-left {
  img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    padding: 1rem;
    background: red;
    border-radius: 50%;
  }
}

.chat .modal-body {
  height: calc(100% - 135px);
  overflow-y: scroll;
}

.chat {
  .modal-content {
    height: 100%
  }

  .modal-footer {
    background-color: #e9ecef;
    justify-content: space-between;
  }
}

.chat textarea {
  width: 1500px;
  height: 35px;
  border: transparent;
  background: transparent;
  overflow-x: hidden;
  padding-left: 10px;
  padding-top: 8px;
  resize: vertical;
}

.chat-respond, .chat-sender {
  img {
    width: 40px;
    height: 40px;
    background: #eee;
    border-radius: 50%;
    color: #fff;
    margin-left: 2rem;
  }
}

.chat-sender {
  img {
    margin-left: 0;
  }
}

.msger-input {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  flex: 1;
  background: #eee;
}

:focus {
  outline: none;
}

.chat-sender.msg {
  border-top-left-radius: 2.125rem;
  padding: 9px 9px;
  padding-left: 21px;
  background-color: #382064;
  color: #fff;
  box-sizing: border-box;
  width: calc(100% - 80px);
  margin-left: 14px;
}

.chat-msg {
  margin-top: 5px;
  word-break: break-all;
}

.chat-sender {
  display: inline-block;
  vertical-align: top;
}

.chat-sender .fas {
  color: #ffffff;
}

.chat-sender, .chat-respond {
  .chat-time {
    font-size: 11px;
  }
}

.chat-sender .chat-time {
  color: #ffffff;
}

.chat-respond .chat-time {
  color: #808080;
}

.chat-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.chat-respond.msg {
  border-top-left-radius: 2.125rem;
  padding: 9px 9px;
  padding-left: 21px;
  background-color: #edeef1;
  color: #333;
  box-sizing: border-box;
  width: calc(100% - 53px);
  margin-right: -9px;
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
}

.chat-respond.msg strong {
  color: #382064;
}

.chat-respond {
  display: inline-block;
  vertical-align: top;
}

.flippd {
  width: 100%;
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
}

.add-chat-section {
  width: auto !important;
  padding-right: 50px !important;
}

@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Firefox */
@-moz-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.msger-inputarea {
  .attachment-pin {
    height: 26px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 15px;
    cursor: pointer;
  }
}


.fa-times {
  z-index: 100;
}


.chat .custom-file-input {
  color: transparent;
  opacity: 0;
  cursor: pointer;
}

.chat .custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.chat .custom-file-input {
  &:before {
    color: black;
    display: inline-block;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;

  }
}

.chat .custom-file-input:hover::before {
  border-color: black;
}

.chat .custom-file-input:active {
  outline: 0;
}

.chat .custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


/*UI Fixes*/
.chat .job-chat-modal .close {
  font-weight: 100;

  span {
    font-size: 1.2rem;
  }
}

.add-chat-section {
  .chat-notification-indicator {
    left: 0 !important;
  }
}

.upcoming-left {
  .chat-notification-indicator {
    left: 30%;
    transform: translate(-25%, -25%);
  }
}

.chat {
  .chat-btn {
    position: relative;
  }
}


.chat {
  .modal-header {
    .close {
      margin: -7rem 0 -1rem auto;
    }

    padding: 0;
  }

  .job-chat-modal {
    .btn-purple {
      font-size: 1.2rem;
      padding: 7px 20px 7px 20px !important;
    }

    h5.modal-title {
      padding: 16px 0;
      margin: 0;
    }
  }
}



