.guest-user {
  height: 100%;
  background: $white;
  padding-top: 0 !important;

  .main-nav {
    border: 0;
    padding: 20px 30px;
  }

  .form-footer {
    padding-top: 0px;
    font-size: 1.6rem;

    a {
      font-weight: 500;
    }

    > div {
      padding-top: 15px;
    }

    .policy-text {
      font-size: 1.3rem;
      padding-top: 0;
    }
  }

  .main-nav {
    margin-bottom: 35px;
  }

  main > .container {
    position: relative;
    z-index: 2;
  }
}

.form-wrap {
  max-width: 550px;
  margin: 55px auto;

  .form-group > label {
    color: $formLabel;
    font-size: 1.5rem;
    padding-top: 20px;
  }

  .form-control, .custom-file, .custom-file-input, .custom-file-label {
    font-size: 1.6rem;
    height: 54px;
    border: 0;
    @include rounded(4px);
    @include box-shadow($whiteCardShadow);
    padding: 10px 18px;
  }

  .btn-large {
    margin-top: 35px;
  }

  .custom-file {
    padding: 0;
    box-shadow: none;
  }

  .custom-file-label {
    line-height: 2.5;

    &:after {
      height: 54px;
      border: 1px solid #ced4da;
      content: 'Upload' !important;
      line-height: 2.5;
      padding: 6px 15px;
    }
  }

  .custom-control-label {
    padding: 1px 0 0 6px;

    &:after, &:before {
      width: 15px;
      height: 15px;
    }
  }

  .custom-checkbox {
    display: inline-block;
    margin-top: 20px;
  }
}

/* -- Wave Animation -- */
.ocean {
  background: #015871;
  height: 0;
  left: 0;
  width: 0;
  transform: rotate(90deg);
  top: -25%;
  position: fixed;
  z-index: 1;
}

.wave {
  background: url(#{$imgDir}wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

.wave:nth-of-type(3) {
  top: -150px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite, swell2 14s ease -2.25s infinite;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite, swell2 14s ease -2.25s infinite;
  opacity: 1;
}

@-webkit-keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@-webkit-keyframes swell {
  0%, 100% {
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}

@keyframes swell {
  0%, 100% {
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}

@-webkit-keyframes swell2 {
  0%, 100% {
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
}

@keyframes swell2 {
  0%, 100% {
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
}

/* -- Inner Form Elements -- */
.wrap-form {
  padding: 20px 0;

  .custom-file {
    padding: 0;
    height: 40px;
  }

  .custom-file-input,
  .custom-file-label {
    height: 40px;
    line-height: 1.9;
    padding: 6px 12px;
  }

  .custom-file-label:after {
    height: 38px !important;
    line-height: 1.9;
    padding: 6px 15px;
  }

  .form-control {
    height: 40px !important;
    padding: 6px 12px;
    font-size: 1.4rem;
  }

  .form-group {
    margin-bottom: 18px;
  }

  label {
    color: $purpleDark;
    font-weight: 500;
  }

  textarea.form-control {
    height: 150px !important;
    resize: none;
  }
}
