/* -- Header -- */
.main-nav {
  text-transform: uppercase;
  background: $white;
  border-bottom: 1px solid $dividerLineNav;
  padding: 0 25px 0 0;

  a {
    padding: 12px 15px 11px 15px !important;
    line-height: 100%;
    font-size: 1.4rem;
    color: $navColor;
    font-weight: 500;
  }

  a.btn-green {
    padding: 12px 25px 11px 25px !important;
    margin-left: 15px;
    color: $white;
    font-weight: 400;
  }

  a.navbar-brand {
    padding: 15px 25px 10px 25px !important;
    margin: 0;

    img {
      max-width: 145px;
    }
  }

  .form-inline {
    min-width: 500px;
    position: relative;
    border-left: 1px solid $dividerLineNav;
    transition: all .3s ease-in-out;

    .form-control {
      height: 60px;
      border: 0;
      font-size: 1.8rem;
      width: 100%;
      padding-left: 54px;
    }

    .icon-search {
      position: absolute;
      left: 25px;
      font-size: 2.2rem;
    }
  }
}

.icon-search {
  position: relative;
  font-size: 2.5rem;
  color: $lightTextColor;
  left: 15px;
  outline: none;
}

/*-- Header Notifications --*/
.wrap-notification {
  > a {
    color: $navPurpleLight;
    font-size: 3.5rem;
    display: inline-block;
    margin: 0 15px;
    padding-right: 25px !important;
    position: relative;

    .notification-info {
      background: $green;
      border: 3px solid $white;
      border-radius: 50%;
      color: $white;
      display: block;
      font-size: 1.3rem;
      font-weight: 300;
      height: 26px;
      line-height: 170%;
      position: absolute;
      text-align: center;
      width: 26px;
      top: 11px;
      left: 50%;
    }
  }

  .notifications {
    left: auto;
    min-width: 500px;
    position: fixed;
    right: 0;
    top: 60px;
    height: calc(100% - 60px);
    padding: 0;
    border: 0;
    margin: 0;
    background: $lightenGrey;
    box-shadow: -5px 10px 15px rgba($black, .1);

    > h4 {
      padding: 15px 30px;
      margin: 0;
      text-transform: none;
    }
  }

  .notifications-wrapper {
    overflow-y: auto;
    height: 100%;
  }

  .notification-item {
    font-size: 1.4rem;
    text-transform: none;
    position: relative;
    padding: 10px 30px 15px;
    border-top: 1px solid rgba($navPurpleLight, .5);

    h5 {
      text-transform: none;
      font-weight: 500;
      margin-bottom: 10px;
      font-size: 1.4rem;
    }

    p {
      margin-bottom: 5px;
    }

    .price {
      font-size: 1.6rem;
      margin: 0;
    }

    a {
      color: $purple;
      padding: 0 0 0 5px !important;
    }

    .time {
      margin-top: 10px;
      margin-left: 20px;
    }

    &.item-received {
      background: $white;
    }
  }

  &.show {
    > a {
      background: $lightenGrey;
    }
  }
}

/* -- Header Profile Menu -- */
.profile-menu {
  .dropdown-menu {
    top: 47px;
    left: initial;
    right: 0;
    width: 315px;
    border-radius: 0;
    padding: 15px;
    font-size: 1.8rem;
    background: $lightenGrey;
    border: 0;
    color: $navColor;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .3);

    a {
      color: $purple;
      font-size: 1.5rem;
      padding: 10px 5px !important;
      letter-spacing: 0;
      display: block;
      text-transform: none;
    }

    li.profile-icon-wrap {
      padding: 5px 0 20px;
      margin-bottom: 10px;
      border-bottom: 1px solid $dividerLineNav;
      font-weight: 400;
      font-size: 1.6rem;
      @include flexbox();

      span {
        display: inline-block;
        vertical-align: middle;
        text-transform: none;

        a {
          font-size: 1.3rem;
          padding: 5px 12px 4px !important;
          display: inline-block;
          margin-top: 5px;
          margin-left: 0;

          &:hover, &:focus {
            color: $white !important;
          }

          &.btn {
            color: $white;
          }
        }

        > div {
          display: block;
          padding: 0 !important;
          margin-top: 5px;
          font-size: 1.3rem;
          color: $purple;
          font-weight: 500;
        }

        .btn {
          margin-top: 10px;
        }
      }
    }

    a.navbar-brand {
      text-align: center;
      padding: 40px 5px 35px !important;
      display: none;

      img {
        max-width: 200px;
      }
    }

    .btn-close-menu {
      position: absolute;
      left: 14px;
      top: 12px;
      font-size: 3rem;
      display: none;
      color: $lightTextColor;
    }
  }
}

/* -- Button Profile -- */
.btn-profile {
  width: 36px;
  height: 36px;
  overflow: hidden;
  display: inline-block;
  border-radius: 50%;
  background: $navPurpleLight;
  border: 0;
  outline: 0;
  color: rgba(25, 25, 25, .2);
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, .3);
  padding: 0;

  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  i {
    display: none;
  }
}

/* -- Profile Icon Big -- */
.profile-icon-big {
  width: 75px;
  height: 75px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  border-radius: 50%;
  overflow: hidden;
  background: $lightGrey;
  text-align: center;

  > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  > i.fa-user {
    font-size: 5rem;
    margin-top: 10px;
    opacity: .2;
  }
}

/* -- Banner Title -- */
.title-wrap {
  position: relative;

  .row {
    height: 225px;

    > img {
      @include object-fit();
    }
  }

  h1 {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    color: white;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 0 15px;
  }

  &:before {
    @include overlay-transparent();
    background: rgba($black, .2);
  }
}

.guest-user {
  .main-nav {
    .navbar-toggler {
      font-size: 2rem;
      padding: 5px 0 0;
    }
  }
}
