@media (max-width: 1199px) {
  .btn-search {
    display: block;
  }
  .main-nav .form-inline {
    opacity: 0;
    position: absolute;
    top: -65px;
    left: 0;
    width: 100%;
    z-index: 5;
    border: 0;
    box-shadow: 0 0 25px rgba($black, .5);

    &.search-show {
      top: 0;
      opacity: 1;
    }
  }
  .flex-wrap .job-card {
    width: calc(25% - 20px);
  }
  .logo-outer > img {
    max-width: 300px;
  }

  .upcoming-left {
    .chat-notification-indicator {
      left: 43% !important;
    }

  }
}

@media (max-width: 991px) {
  .sent-jobs > .row > .col, .received-jobs > .row > .col {
    padding-left: 0;
    padding-right: 0;
  }
  .job-info .buttons .btn-grey {
    margin-bottom: 15px;
  }
  .flex-wrap .job-card {
    width: calc(33.33% - 20px);
  }
  .ocean {
    display: none;
  }

  /*notification*/
  .upcoming-left {
    .chat-notification-indicator {
      left: 85% !important;
      transform: none !important;

    }

  }


}

@media (max-width: 767px) {
  h3 {
    font-size: 2.1rem;
  }
  .main-nav {
    padding-right: 10px;

    a.navbar-brand {
      display: none;
    }

    .form-inline {
      .form-control {
        padding-left: 45px;
      }

      .icon-search {
        left: 15px;
      }
    }
  }
  .profile-menu {
    position: absolute;
    left: 15px;

    .btn-profile {
      background: transparent;
      color: $lightTextColor;
      font-size: 2.5rem;
      box-shadow: none;

      img {
        display: none;
      }

      i {
        display: block;
      }
    }

    .fa-user-alt:before {
      content: "\F0C9";
    }

    .dropdown-menu {
      left: -15px;
      top: -15px;
      right: inherit;
      height: 100vh;

      a.navbar-brand {
        display: block;
      }

      .btn-close-menu {
        display: block;
      }
    }
  }
  .wrap-notification {
    .notifications {
      min-width: 300px;

      > h4 {
        padding: 15px 20px;
      }
    }

    a {
      margin-right: 0;
    }

    .notification-item {
      padding: 10px 20px 15px;
    }
  }
  .btn-profile {
    width: 50px;

    img {
      width: 35px;
    }
  }
  .time {
    float: none;
  }
  .job-info {
    padding-top: 15px;

    .buttons .btn-grey {
      margin-bottom: 0;
    }

    .flex-wrap {
      padding-top: 15px;
    }
  }
  .card-bordered {
    width: 200px;
  }
  .flex-wrap .upcoming-left {
    width: calc(100% - 200px);
    padding-right: 30px;
  }
  .flex-wrap .job-card {
    width: calc(50% - 20px);
  }
  .card-detail .upcoming-left {
    padding-left: 0;
  }
  .tabs-sent-jobs a, .tabs-received-jobs a {
    padding: 2rem;
  }
  .card-white h2 {
    font-size: 2.6rem;
    padding: 0;
  }
  .guest-user .main-nav {
    padding: 20px 15px;
  }
  .guest-user {
    .main-nav {
      .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        position: absolute;
        top: 67px;
        background: #fff;
        padding: 5px 6px 15px;
        z-index: 5;
        width: 100%;
        box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
        left: 0;
      }
    }
  }

  /*notification*/
  .upcoming-left {
    .chat-notification-indicator {
      left: 85% !important;
      transform: none !important;

    }

  }


}

@media (max-width: 575px) {
  .card-white {
    padding: 25px 15px;

    .img-round {
      width: 70px;
      height: 70px;
    }
  }
  .job-info .info-right {
    padding-left: 15px;
  }
  .job-info .btn-green, .job-info .btn-purple {
    margin-left: 8px;
  }
  .flex-wrap {
    .upcoming-left {
      width: 100%;
      padding-right: 0;
    }

    .upcoming-right {
      width: 100%;
      margin-top: 25px;

      .card-bordered {
        width: 100%;
      }
    }
  }
  .flex-wrap .job-card {
    width: calc(100% - 20px);
  }
  .logo-outer > img {
    max-width: 250px;
  }
  .tabs-sent-jobs a, .tabs-received-jobs a {
    padding: 1.5rem 1rem;
    font-size: 2.6rem;
  }
  .tabs-sent-jobs a span, .tabs-received-jobs a span {
    font-size: 1.6rem;
  }
  .form-wrap {
    margin: 25px auto;
  }
  .profile-menu .btn-profile {
    padding: 0;
    width: 25px;
  }

  /*notification*/
  .upcoming-left {
    .chat-notification-indicator {
      left: 65% !important;
      transform: none !important;

    }

  }
}
