/* -- Dashboard Mid Section -- */
.dashboard-in {
  min-height: 800px;
  background: $lightenGrey;
  position: relative;
  //z-index: 5;
  padding-bottom: 50px;
}

.breadcrumb {
  background: transparent;
  padding: 25px 0 15px 0;
}

.sent-jobs {
  box-shadow: $darkCardShadow;
  background: $purple url(#{$imgDir}octo-purple.png) center center no-repeat;
  padding: 30px;
  color: $white;
  margin-bottom: 30px;
  @include rounded(3px);

  h3 {
    font-weight: 300;
    margin: 0;
    color: $white;
    position: relative;

    .dots-large {
      position: relative;

      &:before, &:after {
        background: rgba($white, .1);
        position: absolute;
        content: '';
        border-radius: 50%;
      }

      &:before {
        width: 18px;
        height: 18px;
        left: 15px;
        top: 6px;
      }

      &:after {
        width: 16px;
        height: 16px;
        left: 45px;
        top: 7px;
      }
    }

    .dots-small {
      @extend .dots-large;
      left: 60px;

      &:before {
        width: 14px;
        height: 14px;
        top: 8px;
      }

      &:after {
        width: 12px;
        height: 12px;
        top: 9px;
      }
    }

    .dots-ex-small {
      @extend .dots-large;
      left: 120px;

      &:before {
        width: 10px;
        height: 10px;
        top: 10px;
      }

      &:after {
        width: 8px;
        height: 8px;
        top: 11px;
      }
    }
  }

  .btn-bordered {
    border-color: rgba($white, .5);
    color: $white;
    font-size: 1.6rem;
  }

  .job-value {
    font-size: 5rem;
    font-weight: 200;
  }

  > .row {
    padding-top: 15px;

    > .col {
      padding-top: 30px;
      padding-bottom: 10px;
    }
  }
}

.received-jobs {
  @extend .sent-jobs;
  background: $green url(#{$imgDir}octo-green.png) center center no-repeat;

  h3 {
    .dots-large {
      &:before {
        width: 8px;
        height: 8px;
        left: 15px;
        top: 11px;
      }

      &:after {
        width: 10px;
        height: 10px;
        left: 45px;
        top: 10px;
      }
    }

    .dots-small {
      @extend .dots-large;
      left: 60px;

      &:before {
        width: 12px;
        height: 12px;
        top: 9px;
      }

      &:after {
        width: 14px;
        height: 14px;
        top: 8px;
      }
    }

    .dots-ex-small {
      @extend .dots-large;
      left: 120px;

      &:before {
        width: 16px;
        height: 16px;
        top: 7px;
      }

      &:after {
        width: 18px;
        height: 18px;
        top: 6px;
      }
    }
  }
}

.job-info {
  padding: 30px 0;
  position: relative;
  display: flex;
  flex-flow: row wrap;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: calc(100% + 30px);
    right: -30px;
    height: 1px;
    background: $dividerLine;
  }

  .info-right {
    width: calc(100% - 100px);
    padding-left: 25px;

    .accepted {
      font-size: 1.6rem;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .buttons {
    margin-right: -2px;
  }

  .btn-green {
    margin-left: 20px;
  }

  &:last-child {
    padding-bottom: 0;

    &:after {
      display: none;
      padding-bottom: 0;
    }
  }

  > h2 {
    margin: 0;
  }
}

.time {
  color: $purpleLighter;
  font-size: 1.2rem;
  font-weight: 300;
  float: right;
}

.price {
  font-size: 2.4rem;
  color: $purpleDark;
  font-weight: 500;
  margin-bottom: 15px;
}

.list-attachment {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    position: relative;
    padding-left: 25px;
    padding-bottom: 5px;

    &:before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '';
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      content: "\F0C6";
      color: $purpleLighten;
      position: absolute;
      left: 0;
      top: 4px;
    }
  }
}

.card-bordered {
  border: 1px solid $dividerLine;
  border-radius: 3px;
  width: 275px;
  text-align: center;
  margin: 10px 0 20px;

  .card-top {
    color: $purple;
    padding: 25px;
    border-bottom: 1px solid $dividerLine;
    background: $lightenGrey;

    h6 {
      color: $purple;
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      padding: 5px 0;
    }

    .img-round {
      display: inline-block;
    }
  }

  .card-attachments {
    a {
      font-size: 3rem;
      color: $lightenGrey;
      padding: 20px 5px;
      display: inline-block;
    }
  }
}

.flex-wrap {
  margin: 0;
  display: flex;
  clear: both;
  width: 100%;

  .upcoming-left {
    width: calc(100% - 275px);
    padding-right: 100px;
  }
}

.custom-file-upload {
  border: 1px solid $navPurpleLight;
  display: inline-block;
  padding: 6px 12px 6px 12px;
  color: $purpleLighten;
  text-transform: uppercase;
  cursor: pointer;
  padding: 6px 15px;
  border-radius: 3px;
  background: $lightenGrey;

  input[type="file"] {
    display: none;
  }
}

.list-dropdown {
  .dropdown-toggle {
    cursor: pointer;
    font-size: 2rem;
    background: transparent !important;
    border: 0 !important;
    color: $purpleLighten !important;

    &:after {
      display: none;
    }
  }

  .dropdown-menu {
    min-width: 175px;

    a {
      display: block;
      padding: 5px 10px;
      font-size: 1.4rem;
    }
  }
}

/* -- Img Round -- */
.img-round {
  width: 100px;
  height: 100px;
  @include rounded(50%);
  overflow: hidden;
  background: $navPurpleLight;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.round-big {
    width: 140px;
    height: 140px;
  }
}

.text-center .img-round {
  margin: auto;
}

.view-profile {
  .round-big {
    margin: -80px auto 10px auto;
    box-shadow: 5px 5px 15px rgba(black, .3);
  }

  .card-white {
    margin-top: 35px;

    &.wrap-form {
      padding: 35px 30px 30px;
    }

    h4 {
      font-size: 2rem;
      margin-top: 0;
      font-weight: 400;
    }

    &.contact-info {
      strong {
        width: 85px;
      }

      span {
        font-size: 1.4rem;
      }
    }

    .btn-edit {
      position: absolute;
      right: 15px;
      top: 20px;
    }
  }

  .profile-item {
    font-size: 1.7rem;
    padding: 15px 0;

    & + .profile-item {
      border-top: 1px solid rgba(black, .2);
    }

    &:last-child {
      padding-bottom: 0;
    }

    strong {
      font-weight: 500;
      display: inline-block;
    }

    p {
      font-size: 1.4rem;
      margin-top: 6px;
    }

    .badge {
      font-weight: 300;
    }
  }
}

/* -- Mid Section -- */
.mid-section {
  padding-top: 50px;
  padding-bottom: 50px;

  h3 + h1 {
    margin-top: 25px;
  }
}

.flex-wrap {
  @include flexbox();
  padding: 35px 0;

  .job-card {
    background: white;
    box-shadow: 0 0 8px rgba(black, .2);
    padding: 25px 20px 75px;
    text-align: center;
    margin: 10px;
    width: calc(20% - 20px);
    border-radius: 5px;
    transition: all .3s ease;
    position: relative;

    h3 {
      margin: 20px 0 40px;
      font-size: 2rem;
    }

    &:hover {
      box-shadow: 0 8px 35px rgba(black, .3);
    }

    .btn-green {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.card-detail {
  .flex-wrap {
    padding-bottom: 0;
  }

  .card-top {
    &.no-record {
      color: $purpleLighten;
      font-size: 2.5rem;
      font-weight: 400;
      padding: 6rem 4rem;
    }
  }

  .card-bordered {
    padding-bottom: 0;
  }

  .upcoming-left {
    padding-left: 25px;

    h2 {
      margin-top: 0;
    }
  }

  .info-right {
    h3 {
      color: $purpleDark;
      margin-top: 5px;
    }

    .star-light {
      color: rgba($black, .3);
    }
  }

  .job-info:after {
    width: calc(100% - 95px);
    left: 125px;
  }
}

/* -- Sent Jobs Page -- */
.tabs-sent-jobs {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  overflow: hidden;

  a {
    padding: 3rem;
    color: $white;
    text-align: center;
    flex: 1 1 auto;
    font-size: 4rem;
    font-weight: 200;
    line-height: 100%;
    position: relative;

    span {
      display: block;
      font-size: 2rem;
      line-height: 120%;
      font-weight: 300;
    }

    &:before {
      content: '';
      width: 1px;
      height: 50%;
      background: rgba($white, .8);
      top: 25%;
      left: 0;
      position: absolute;
    }

    &:first-child:before {
      display: none;
    }

    &:hover, &.active {
      border-bottom: 5px solid rgba($green, 1);
      color: $green;
      padding-bottom: calc(3rem - 5px);
    }
  }
}

.tabs-received-jobs {
  @extend .tabs-sent-jobs;

  a {
    &:hover, &.active {
      border-bottom: 5px solid rgba($purple, 1);
      color: $purple;
    }
  }
}

.delete-btn {
  cursor: pointer;
}

.doc-item:hover .delete-btn {
  display: inline-block !important;
}

.pagination-center .pagination {
  justify-content: center !important;
}


.custom-file-label {
  white-space: nowrap;
  overflow: hidden;
}
