html {
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: lighten($baseTextColor, 75%);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

body {
  width: 100%;
  font-family: $baseFont;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $baseTextColor;
  font-weight: $baseFontWeight;
  height: 100%;
  overflow-x: hidden;
  background: $bgBodyColor;
  padding-top: 60px;
}

/* -- Placeholder Global Color -- */
::-webkit-input-placeholder {
  color: $placeholder !important;
  font-weight: 300 !important;
}

::-moz-placeholder {
  color: $placeholder !important;
  font-weight: 300 !important;
}

:-ms-input-placeholder {
  color: $placeholder !important;
  font-weight: 300 !important;
}

:-moz-placeholder {
  color: $placeholder !important;
  font-weight: 300 !important;
}

/* -- Buttons/Link Color -- */
a, a:visited {
  color: $linkColor;
  outline: none;
  @include transition(all .3s ease);

  &:hover {
    color: $linkColorHover;
    text-decoration: none;
  }
}

.btn-green {
  background: $buttonBgGreen;
  color: $buttonColor;
  padding: 10px 25px 8px 25px !important;
  text-transform: uppercase;
  font-size: 1.6rem;
  @include box-shadow($btnBoxShadow);
  @include rounded(30px);

  &:hover {
    background: $buttonHoverGreen;
    color: $buttonColor;
  }
}

.btn-purple {
  @extend .btn-green;
  background: $buttonBgPurple;

  &:hover {
    background: $buttonHoverPurple;
    color: $buttonColor;
    cursor: pointer;
  }
}

.btn-large {
  min-width: 160px;
  padding: 16px 30px 14px 30px !important;
  line-height: 100%;
  @include transition(all .3s ease);
  cursor: pointer;
  outline: 0;
}

.btn-bordered {
  padding: 12px 30px 10px 30px;
  line-height: 100%;
  @include rounded(30px);
  border: 1px solid transparent;
  text-transform: uppercase;
}

.btn-grey {
  padding: 4px 20px 2px 20px !important;
  text-transform: uppercase;
  font-size: 1.4rem;
  @include rounded(20px);
  color: $purpleLighten;
  border: 1px solid $purpleLighten;
}

.btn-small {
  padding: 4px 20px 2px 20px !important;
  font-size: 1.4rem;
}

button {
  outline: none !important;
  border: 0;
  background: transparent;
}

.btn-search {
  display: none;
}

/* -- Global Card -- */
.card-white {
  box-shadow: $whiteCardShadow;
  background: $white;
  padding: 30px;
  margin-bottom: 30px;
  padding-bottom: 40px;
  position: relative;

  h2 {
    font-weight: 400;
    margin-top: 35px;
    padding-right: 25px;
  }

  .list-dropdown {
    float: right;
    margin: -45px -5px 0 0;
  }

  h3 span {
    color: rgba($black, .3);
    display: inline-block;
    font-size: 1.6rem;
  }

  h6 em {
    font-weight: 400;
  }

  /*&.card-form {margin: 50px 0;}*/
}

/* -- Headings -- */
h1 {
  font-weight: 500;
  color: $headingDark;
  font-size: 3.4rem;
}

h2 {
  font-size: 3rem;
  color: $purpleLighten;
  font-weight: 400;
}

h3 {
  font-size: 2.4rem;
  color: $purpleLight;
  font-weight: 400;

  .btn {
    padding: 3px 10px 2px 10px !important;
    color: $white;
    font-size: 1.2rem;
    display: inline-block;
    margin: -5px 0 0 10px;
  }
}

h4 {
  font-size: 1.8rem;
  color: $purpleDark;
  font-weight: 500;
  margin: 10px 0;

  span {
    font-weight: 300;
  }
}

h5 {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 10px 0 15px;
}

h6 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 20px 0 10px;
  color: $purpleDark;
}

