/* Variables =================================================== */


/* 1. COLORS ====================================================== */
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$lightGrey: rgb(206, 211, 221);
$lightenGrey: rgb(239, 240, 243);
$purple: rgb(80, 45, 136);
$purpleLight: rgb(88, 90, 101);
$purpleLighten: rgb(152, 158, 187);
$purpleLighter: rgb(172, 178, 203);
$purpleDark: rgb(39, 47, 61);
$green: rgb(99, 170, 69);
$navPurpleLight: rgb(184, 188, 208);
$dividerLine: rgb(224, 232, 236);
$dividerLineNav: rgb(200, 205, 224);


/* 2. ROOT ========================================================= */
$baseTextColor: $purpleLight;
$lightTextColor: $purpleLighter;
$placeholder: $purpleLighter;
$headingDark: $purpleDark;
$headingLight: $purpleLight;
$headingLighten: $purpleLighten;
$navColor: $purpleDark;
$bgBodyColor: $lightenGrey;
$formLabel: $purpleDark;

/* 3. TYPOGRAPHY =================================================== */
$roboto: "Roboto", sans-serif;
$baseFont: $roboto;
$baseFontSize: 1.4rem;
$baseLineHeight: 1.45;
$baseFontWeight: 400;

/* -- Links -- */
$linkColor: $purple;
$linkColorHover: darken($linkColor, 20);
$linkColorVisited: darken($linkColorHover, 10);
$linkColorFocus: darken($linkColorVisited, 10);

/* -- Color Palettes -- */
$alertColor: rgb(252, 248, 227);
$errorColor: rgb(218, 79, 73);
$infoColor: rgb(217, 237, 247);
$inversColor: rgb(65, 65, 65);
$successColor: rgb(91, 183, 91);
$warningColor: rgb(250, 167, 50);

/* 4. TEXTURE ====================================================== */
/* -- Alert -- */
$alertBorderColor: darken($alertColor, 20%);
$alertBorderWidth: 1px;
$alertBorderStyle: solid;
$alertText: darken($alertColor, 60%);

/* -- Alert Errors -- */
$alertErrorColor: lighten($errorColor, 30%);
$alertErrorBorder: lighten($errorColor, 20%);
$alertErrorText: $errorColor;

/* -- Alert Info -- */
$alertInfoColor: $infoColor;
$alertInfoBorder: lighten($infoColor, 20%);
$alertInfoText: darken($infoColor, 50%);

/* -- Alert Inverse -- */
$alertInverseColor: $inversColor;
$alertInverseBorder: $black;
$alertInverseText: $white;

/* -- Alert Success -- */
$alertSuccessColor: lighten($successColor, 30%);
$alertSuccessBorder: lighten($successColor, 20%);
$alertSuccessText: darken($successColor, 20%);

/* -- Alert Warning -- */
$alertWarningColor: lighten($warningColor, 30%);
$alertWarningBorder: lighten($warningColor, 20%);
$alertWarningText: darken($warningColor, 20%);

/* 5. BUTTONS ====================================================== */
$buttonBgPurple: $purple;
$buttonBgGreen: $green;
$buttonColor: $white;
$buttonHoverGreen: darken($buttonBgGreen, 10%);
$buttonHoverPurple: darken($buttonBgPurple, 10%);
$btnBoxShadow: 0 20px 25px rgba($black, .12);
$whiteCardShadow: 5px 5px 30px rgba($black, .12);
$darkCardShadow: 0 20px 25px rgba($black, .12);

/* 6. FORMS:  ====================================================== */
$inputBackground: $white;
$inputBorder: $lightGrey;
$inputBorderWidth: 1px;
$inputBorderStyle: solid;
$inputHover: $lightGrey;
$inputFocus: $lightGrey;
$placeholderColor: $lightGrey;

/* 7. IMG PATH ==================================================== */
$imgDir: '../images/';
