<template>
  <section class="card-white">
    <h3>Job Accepted</h3>
    <article class="job-info" v-for="job in items" :key="job.id">
      <div class="img-round">
        <img :src="job.service.image_url" alt="oktohub">
      </div>
      <div class="info-right">
        <div class="time" :title="job.created_at">
          <timeago :datetime="job.created_at" :auto-update="true"/>
        </div>
        <h4>
          {{ job.display_name }}, <span>{{ flatList(job.cities) }}</span>
          <a :href="route('profile.show',job.creator)">
            by {{ job.creator.profile.full_name }}
          </a>
        </h4>
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <h5 :title="job.due_date">{{ job.formatted_due_date }}</h5>
            <p>{{ job.description }}</p>
          </div>
          <div class="col-sm-12 col-md-4 text-md-right">
            <div class="price" v-if="job.transferable_incentive_amount">${{ job.transferable_amount }} + ${{ job.transferable_incentive_amount }}</div>
            <div class="price" v-else>${{ job.transferable_amount }}</div>
          </div>
        </div>
      </div>
    </article>
  </section>
</template>

<script>
  import flatList from '@/js/mixins/flatList';

  export default {
    name: 'ReceivedJobsReceived',
    mixins: [flatList],
    props: {
      jobs: {
        required: true,
        type: Array,
      }
    },
    data() {
      return {
        items: this.jobs
      }
    }
  }
</script>
