<template>
  <section class="card-white">
    <h3>Job Received</h3>
    <article class="job-info" v-for="(job,index) in items" :key="job.id">
      <div class="img-round">
        <img :src="job.service.image_url" alt="oktohub">
      </div>
      <div class="info-right">
        <div class="time" :title="job.created_at">
          <timeago :datetime="job.created_at" :auto-update="true"/>
        </div>
        <h4>
          {{ job.display_name }}, <span>{{ flatList(job.cities) }}</span>
          <a :href="route('profile.show',job.creator)">
            by {{ job.creator.profile.full_name }}
          </a>
        </h4>
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <h5 :title="job.due_date">{{ job.formatted_due_date }}</h5>
            <p>{{ job.description }}</p>
          </div>
          <div class="col-sm-12 col-md-4 text-md-right">
            <div class="price" v-if="job.transferable_incentive_amount">${{ job.transferable_amount }} + ${{ job.transferable_incentive_amount }}</div>
            <div class="price" v-else>${{ job.transferable_amount }}</div>
            <div class="buttons">
              <button class="btn btn-grey"
                      :data-index="index"
                      :data-id="job.id"
                      data-toggle="modal"
                      data-target="#job-ignore-modal">
                Ignore
              </button>
              <button class="btn btn-green btn-small"
                      :data-index="index"
                      :data-id="job.id"
                      data-toggle="modal"
                      data-target="#job-accept-modal"
                      :disabled="job._accepted">
                Accept
              </button>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
</template>

<script>
  import flatList from '@/js/mixins/flatList';
  import _merge from 'lodash-es/merge';

  export default {
    name: 'ReceivedJobReceived',
    mixins: [flatList],
    props: {
      jobs: {
        required: true,
        type: Array,
      }
    },
    data() {
      return {
        items: this.jobs
      }
    },
    mounted() {
      this.$bus.$on('job.accepted', this.onAccepted);
      this.$bus.$on('job.ignored', this.onIgnored);
    },
    methods: {
      onAccepted(index, job) {
        this.$set(this.items, index, _merge(this.items[index], job, {
          _accepted: true
        }));
        this.$toast.success('Job accepted.')
      },
      onIgnored(index, job) {
        this.$delete(this.items, index);
        this.$toast.success('Job ignored.')
      }
    }
  }
</script>
