<template>
  <section class="card-white list-job">
    <h3>Job Todo</h3>
    <div class="job-info bg-white p-5 mb-5" v-for="(job,index) in items" :key="job.id">
      <h2>On {{ job.formatted_due_date }}</h2>
      <div class="flex-wrap">
        <div class="upcoming-left" :class="{ 'add-chat-section' : job._addClass }">
          <h4>{{ job.display_name }}, <span>{{ flatList(job.cities) }}</span></h4>
          <div class="price" v-if="job.transferable_incentive_amount">
            ${{ job.transferable_amount }} + ${{
              job.transferable_incentive_amount }}
          </div>
          <div class="price" v-else>${{ job.transferable_amount }}</div>
          <h6>Job Description</h6>
          <p>{{ job.description }}</p>


          <div class="job-btn position-relative">
            <span class="chat-notification-indicator" v-show="job.chat_count">N</span>
            <button class="btn btn-purple chat-btn float-left ml-0" @click="toggleChatBox(job,index)">
              <i
                class="fas fa-comments"/>Chat
            </button>
          </div>
        </div>
        <div class="upcoming-right">
          <div class="card-bordered">
            <div class="card-top">
              <div class="img-round">
                <img :src="job.creator.profile.avatar_thumb_url" alt="avatar">
              </div>
              <h6>By {{ job.creator.profile.full_name }}</h6>
              <div class="text-truncate"><a :href="route('profile.show',job.creator)">{{ job.creator.email }}</a></div>
              <strong v-if="job.creator.address.primary_phone">
                <i class="fas fa-phone"/> (+1){{ job.creator.address.area_code }}-{{
                  job.creator.address.primary_phone }}
              </strong>
            </div>
          </div>
          <button class="btn btn-grey btn-block btn-warning text-dark" v-if="jobStatusDone(job)">
            <i class="fas fa-check-circle"/> Done
          </button>
          <button class="btn btn-grey btn-block"
                  :data-index="index"
                  :data-id="job.id"
                  data-toggle="modal"
                  data-target="#job-done-modal"
                  v-else>
            Mark Job As Done
          </button>
        </div>
        <div class="chat" v-if="job._displayChat">
          <job-chat-modal :job="job" :user="job.assignee" @hide="hideChat"/>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import formErrorsMixin from '@/js/mixins/formErrors';
  import flatList from '@/js/mixins/flatList';
  import _merge from 'lodash-es/merge';
  import JobChatModal from '@/js/components/jobs/chatModal';

  export default {
    name: 'ReceivedJobsToDo',
    components: {JobChatModal},
    mixins: [flatList, formErrorsMixin],
    props: {
      jobs: {
        required: true,
        type: Array
      }
    },
    data() {
      return {
        items: this.jobs,
        chatBoxId: null,
        processing: false,
      }
    },
    mounted() {
      this.$bus.$on('job.done', this.onDone);
    },
    methods: {
      onDone(index, job) {
        this.$set(this.items, index, _merge(this.items[index], job));
        this.$toast.success('Job marked as Done.')
      },
      jobStatusDone(job) {
        return job.status === 'done'
      },
      toggleChatBox(job, index) {
        job.chat_count = 0;
        let patchedJob = Object.assign({}, job, {
          _displayChat: !job._displayChat,
          _addClass: !job._addClass
        });
        this.$set(this.items, index, patchedJob);
      },
      hideChat(job) {
        job._displayChat = false;
        job._addClass = false;
      }
    }
  }
</script>
