<template>
  <div class="dropdown-menu notifications" role="menu">
    <h4 class="menu-title border-bottom">
      Notifications
      <span class="pull-right" v-show="!processing">
        <a href="#" @click.prevent.stop="refresh" title="Refresh">
          <i class="fas fa-sync"/> <span class="sr-only">Refresh</span>
        </a>
        <a href="#"
           @click.prevent.stop="markAllRead"
           title="Mark all read"
           v-show="this.notifications.length">
          <i class="fas fa-check-double"/><span class="sr-only">Mark all read</span>
        </a>
      </span>
    </h4>
    <div class="notifications-wrapper">
      <div class="notification-item"
           :class="{'item-received': !item.read_at}"
           v-for="item in notifications"
           :key="item.id">
        <div class="time">
          <timeago :datetime="item.created_at" :auto-update="true"/>
        </div>
        <h5>{{ item.data.message }}</h5>
      </div>
      <div class="text-center text-muted my-5" v-if="!this.notifications.length && !processing">
        <i class="fas fa-5x fa-smile mt-3"/>
        <h5 class="text-capitalize mt-3">No notifications</h5>
      </div>
      <div class="text-center text-muted my-5" v-if="processing">
        <i class="fas fa-5x fa-spin fa-sync"/>
        <h5 class="text-capitalize mt-3">Loading ....</h5>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'NotificationsDropDown',
    data() {
      return {
        notifications: [],
        processing: false
      }
    },
    mounted() {
      $(this.$el.parentElement).on('shown.bs.dropdown', (event) => {
        if (!this.notifications.length && !this.processing) this.refresh()
      })
    },
    methods: {
      refresh() {
        this.processing = true;

        this.$http.get(route('notifications.index'))
          .then(response => {
            this.notifications = response.data.data;
            this.$bus.$emit('notifications.refresh', response.data.data)
          })
          .then(error => {
            //todo show error
          })
          .then(() => {
            this.processing = false;
          })
      },
      markAllRead() {
        this.$http.post(route('notifications.markAllAsRead'))
          .then(response => {
            this.notifications.map(item => {
              item.read_at = true
            });
            this.$bus.$emit('notifications.refresh', this.notifications)
          })
          .catch(error => {
            // todo show error
          })
      }
    }
  }
</script>
