<template>
  <span class="notification-info" v-show="hasUnread">N</span>
</template>
<script>
  export default {
    name: 'NotificationIndicator',
    props: {
      count: {
        type: Number,
        required: true
      }
    },
    data() {
      return {
        hasUnread: this.count
      }
    },
    mounted() {
      this.$bus.$on('notifications.refresh', this.onRefresh)
    },
    methods: {
      onRefresh(notifications) {
        this.hasUnread = notifications.some(item => !item.read_at);
      }
    }
  }
</script>
