/**
* Override bootstrap scss variables here
*/

$border-radius: .125rem;
$border-radius-lg: .25rem;
$border-radius-sm: .15rem;

$enable-validation-icons: false;

$font-family-base: 'Source Sans Pro', var(--font-family-sans-serif);
