<template>
  <form action="/"
        method="post"
        @submit.prevent="submit()"
        class="wrap-form">
    <h3 class="text-center mb-3">Assign Job to - {{ assignee.profile.full_name }}</h3>
    <div class="form-group">
      <label>Card Holder Name</label>
      <input type="text" class="form-control" v-model="form.owner.name" >
    </div>

    <div class="form-group">
      <label>Card Number</label>
      <div ref="cardNumber" class="form-control"/>
    </div>

    <div class="form-row mb-4">
      <div class="col-md-6">
        <label>Card Expiry</label>
        <div ref="cardExpiry" class="form-control"/>
      </div>
      <div class="col-md-6">
        <label>Card CVC</label>
        <div ref="cardCvc" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <input type="checkbox"
               class="custom-control-input"
               id="input-save-card"
               v-model="saveCard"
               :disabled="processing">
        <label class="custom-control-label" for="input-save-card">Save this card for future use</label>
      </div>
    </div>

    <div class="text-danger mb-3" role="alert" v-show="paymentError">{{ paymentError }}</div>
    <div class="form-group">
      <button type="submit" class="btn btn-block btn-purple" :disabled="processing">Pay ${{ totalAmount }}</button>
    </div>
  </form>
</template>

<script>
  const inputs = {};

  export default {
    name: 'JobAssign',
    props: {
      job: {
        required: true,
        type: Object
      },
      assignee: {
        required: true,
        type: Object
      }
    },
    data() {
      return {
        processing: false,
        saveCard: true,
        form: {
          owner: {
            name: null,
          }
        },
        totalAmount: null,
        stripe: null,
        paymentError: null,
      }
    },
    mounted() {
      this.totalAmount = this.job.chargeable_amount + this.job.transferable_incentive_amount + (this.job.chargeable_incentive_amount - this.job.transferable_incentive_amount);
      this.stripe = Stripe(window.appConfig.stripePublicKey);
      this.mountStripeElements();
    },
    methods: {
      mountStripeElements() {
        const elements = this.stripe.elements();
        let style = {
          base: {
            fontFamily: '"Roboto", Helvetica, sans-serif',
            fontSize: '16px',
            '::placeholder': {
              color: '#bbc8d5'
            }
          }
        };

        ['cardNumber', 'cardExpiry', 'cardCvc'].map((elem) => {
          inputs[elem] = elements.create(elem, {style});
          inputs[elem].mount(this.$refs[elem]);
        });
      },
      submit() {
        this.processing = true;
        this.paymentError = null;

        // https://stripe.com/docs/sources/cards
        // createSource() method requires at-least one element reference
        this.stripe.createSource(inputs.cardNumber, Object.assign({}, this.form, {
          type: this.sourceType
        })).then(response => {
          if (response.error) {
            this.paymentError = response.error.message;
            this.processing = false;
          } else {
            console.log(response);
            this.charge(response.source.id);
          }
        });
      },
      charge(source) {
        this.processing = true;

        this.$http.post(route('jobs.payments.assign', [this.job, this.assignee]), {
          source: source,
          save_card: this.saveCard
        })
          .then(response => {
            this.resetForm();
            window.location = route('jobs.show', response.data);
          })
          .catch(error => {
            if (error.response && error.response.data.message) {
              this.paymentError = error.response.data.message;
            }
          })
          .then(() => {
            this.processing = false;
          })
      },
      resetForm() {
        // https://stripe.com/docs/stripe-js/reference#other-methods
        Object.keys(inputs).map((elem) => {
          inputs[elem].clear();
        })
      }
    },
    computed: {
      sourceType() {
        return this.saveCard ? null : 'card';
      }
    }
  }
</script>
