<template>
  <div class="job-chat-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center">Chat Box</h5>
          <button type="button" class="close" @click="hide()">
            <span aria-hidden="true">Close</span>
          </button>
        </div>
        <div class="modal-body" ref="modalBody">
          <infinite-loading direction="top" @infinite="infiniteHandler"/>
          <div class="chat-container" v-for="item in chats" :key="item.id">
            <div v-if="item.sender_id === user.id" :class="{ 'new-chat' : item.read_at }">
              <div class="chat-respond msg">
                <div class="flippd">
                  <strong>{{ item.user.profile.full_name }}</strong>
                  <div class="chat-msg">
                    <p v-if="item.has_attachment">
                      <a target="_blank"
                         download
                         :href="route('jobs.chat.attachment', [job, item])">
                        <i class="fas fa-file-alt fa-2x"/> </a>
                    </p>
                    <p>{{ item.message }}</p>
                    <timeago :datetime="item.created_at" :auto-update="true" class="chat-time"/>
                  </div>
                </div>
              </div>
              <div class="chat-respond img">
                <img :src="item.user.profile.avatar_thumb_url" alt="avatar">
              </div>
            </div>
            <div v-else>
              <div class="chat-sender img">
                <img :src="item.user.profile.avatar_thumb_url" alt="avatar">
              </div>
              <div class="chat-sender msg">
                <strong>{{ item.user.profile.full_name }}</strong>
                <div class="chat-msg">
                  <p v-if="item.has_attachment">
                    <a target="_blank"
                       download
                       :href="route('jobs.chat.attachment', [job, item])">
                      <i class="fas fa-file-alt fa-2x"/> </a>
                  </p>
                  <p>{{ item.message }}</p>
                  <timeago :datetime="item.created_at" :auto-update="true" class="chat-time"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <form class="job-note-form msger-inputarea w-100 d-flex align-items-center"
                method="post"
                action="/"
                enctype="multipart/form-data"
                @submit.prevent="submit">
            <input type="file"
                   ref="inputFile"
                   class="custom-file-input"
                   name="attachment"
                   @change="setAttachment"
                   v-error="errors">
            <i class="fas fa-2x attachment-pin pl-1"
               title="Remove"
               :class="[!this.form.attachment ? 'fa-paperclip' : 'fa-times']"
               @click="removeAttachment"/>
            <textarea rows="4"
                      cols="50"
                      maxlength="255"
                      v-model="form.message"
                      name="message"
                      placeholder="Type a message here..."
                      v-error="errors"/>
            <button type="submit"
                    title="Send"
                    class="btn-purple ml-auto"
                    :disabled="processing">
              <i class="fas fa-paper-plane"/>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import formErrorsMixin from '@/js/mixins/formErrors';
import {serialize as objectToFormData} from 'object-to-formdata';
import InfiniteLoading from 'vue-infinite-loading';

const defaultForm = {
  message: '',
  attachment: null
};

export default {
  name: 'JobChatModal',
  mixins: [formErrorsMixin],
  components: {
    InfiniteLoading,
  },
  props: {
    job: {
      type: Object,
      required: true
    },
    user: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      chats: [],
      form: Object.assign({}, defaultForm),
      page: 1,
      processing: false,
    }
  },
  mounted() {
    this.scrollToBottom()
  },
  methods: {
    scrollToBottom() {
      $(this.$refs.modalBody).scrollTop($(this.$refs.modalBody).get(0).scrollHeight);
    },
    infiniteHandler($state) {
      this.$http.get(route('jobs.chat.index', this.job),
        {
          params: {
            page: this.page
          }
        })
        .then(({data}) => {
          if (data.data.length) {
            this.page += 1;
            this.chats.unshift(...data.data.reverse());
            $state.loaded();
          } else {
            $state.complete();
          }
        })
        .catch(() => {
          $state.error();
        });
    },
    submit() {
      this.processing = true;
      this.errors.clear();

      this.$http.post(route('jobs.chat.update', this.job), objectToFormData(this.form, {
        indices: true,
        booleansAsIntegers: true
      }))
        .then(response => {
          this.chats.push(response.data);
          this.resetForm();
          this.errors.clear();
        })
        .catch(error => {
          this.recordErrors(error);

          this.errors.flatten().map((message) => {
            this.$toast.error(message)
          });
        })
        .then(() => {
          this.processing = false;
        })
    },
    resetForm() {
      this.form = Object.assign({}, defaultForm)
    },
    setAttachment(event) {
      let files = event.target.files || event.dataTransfer.files;

      this.form.attachment = files[0];
    },
    removeAttachment() {
      this.$refs.inputFile.value = '';
      this.form.attachment = null;
    },
    hide() {
      this.$emit('hide', this.job)
    }
  }
}
</script>
