<template>
  <div class="modal fade"
       tabindex="-1"
       role="dialog"
       id="job-complete-modal">
    <div class="modal-dialog" role="document">
      <form id="confirm-form"
            action="/"
            method="post"
            @submit.prevent="submit()">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm action</h5>
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              How do you rate the work done by assignee?
            </p>
            <p>
              <star-rating
                :rounded-corners="true"
                :padding="10"
                :star-size="30"
                :border-width="2"
                border-color="#999"
                v-model="form.rating"/>
            </p>
            <form-error :bag="errors" field="rating" class-name="text-danger"/>
            <div class="text-danger mb-3" role="alert" v-show="paymentError">{{ paymentError }}</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-small btn-purple" :disabled="processing">Complete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import formErrorsMixin from '@/js/mixins/formErrors';
  import StarRating from 'vue-star-rating';

  export default {
    mixins: [formErrorsMixin],
    name: 'JobCompleteModal',
    data() {
      return {
        actionUrl: null,
        processing: false,
        form: {
          rating: null
        },
        paymentError: null,
      }
    },
    components: {
      StarRating
    },
    mounted() {
      $(this.$el).on('show.bs.modal', (event) => {
        this.actionUrl = route('jobs.actions.complete', event.relatedTarget.dataset.id);
      })
    },
    methods: {
      submit() {
        this.processing = true;
        this.paymentError = false;
        this.errors.clear();

        this.$http.post(this.actionUrl, this.form)
          .then(response => {
            $(this.$el).modal('hide');
            this.$bus.$emit('job.completed', response.data);
          })
          .catch(error => {
            this.recordErrors(error);
            if (error.response && error.response.data.message) {
              this.paymentError = error.response.data.message;
            }
          })
          .then(() => {
            this.processing = false;
          })
      }
    },
    beforeDestroy() {
      $(this.$el).off('show.bs.modal');
    },
  }
</script>
