<template>
  <form method="post" @submit.prevent="submit" class="wrap-form">
    <h3 class="text-center">{{ service.name }} - ${{ amount }}</h3>
    <div class="text-center">{{ service.description }}</div>
    <div class="form-group">
      <label>Cities</label>
      <multiselect v-model="selectedCities"
                   :options="cities"
                   :multiple="true"
                   label="name"
                   placeholder="Type to search"
                   track-by="id"
                   :hide-selected="true"
      />
      <form-error :bag="errors" field="cities" class-name="text-danger"/>
    </div>

    <div class="form-group" v-if="askNumberOfHomes">
      <label>Number of Homes</label>
      <select class="form-control"
              @change="updateAmount"
              v-model.number="form.number_of_homes"
              name="number_of_homes"
              v-error="errors">
        <option :value="number" v-for="number in (1,this.maxNumberOfHomes)" :key="number">{{ number }}</option>
      </select>
      <form-error :bag="errors" field="number_of_homes"/>
    </div>

    <div class="form-group">
      <label>Due date</label>
      <flat-pickr v-model="form.due_date"
                  class="form-control"
                  :config="flatpickrOptions"
                  v-error="errors"
                  name="due_date"
                  placeholder="Select a future date"/>
      <form-error :bag="errors" field="due_date"/>
    </div>

    <div class="form-group">
      <label>Incentive amount</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-dollar-sign"/></span>
        </div>
        <input type="number"
               min="5"
               step="5"
               class="form-control"
               v-model="form.incentive_amount"
               @change="incentiveCharges"
               name="incentive_amount"
               placeholder="Incentive Amount"
               v-error="errors">
      </div>
      <div v-if="message" class="alert-info p-1">{{ message }}</div>
      <form-error :bag="errors" field="incentive_amount"/>
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea rows="5"
                v-model="form.description"
                class="form-control"
                name="description"
                v-error="errors"/>
      <form-error :bag="errors" field="description"/>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-block btn-purple" :disabled="processing">
        <i class="fa fa-fw fa-paper-plane"/> Post this Job
      </button>
    </div>
  </form>
</template>

<script>
  import formErrorsMixin from '@/js/mixins/formErrors';
  import Multiselect from 'vue-multiselect'
  import flatPickr from 'vue-flatpickr-component';

  export default {
    name: 'CreateJob',
    mixins: [formErrorsMixin],
    props: {
      service: {
        type: Object,
        required: true
      },
      cities: {
        required: true,
        type: Array
      },
      maxNumberOfHomes: {
        required: true,
        type: Number
      },
      incentivePercentage: {
        required: true,
        type: Number
      }
    },
    components: {
      Multiselect,
      flatPickr
    },
    data() {
      return {
        form: {
          number_of_homes: 1
        },
        processing: false,
        message: null,
        selectedCities: [],
        // https://flatpickr.js.org/options/
        flatpickrOptions: {
          minDate: new Date(),
          dateFormat: 'm/d/Y',
          disableMobile: true,
        },
        amount: this.service.amount,
      }
    },
    methods: {
      submit() {
        this.processing = true;
        this.errors.clear();

        this.$http.post(route('jobs.store', this.service), Object.assign(this.form, {
          cities: this.selectedCitiesIds,
        }))
          .then(response => {
            this.errors.clear();
            window.location = route('jobs.show', response.data);
          })
          .catch(error => {
            this.recordErrors(error);
            this.$toast.error('There were some errors during submission.<br>Please try again.', {
              duration: 10000
            })
          })
          .then(() => {
            this.processing = false;
          })
      },
      updateAmount() {
        this.processing = true;
        this.errors.clear();

        this.$http.post(route('jobs.amount', this.service), this.form)
          .then(response => {
            this.errors.clear();
            this.amount = response.data.amount
          })
          .catch(error => {
            this.recordErrors(error)
          })
          .then(() => {
            this.processing = false;
          })
      },
      incentiveCharges() {
        var totalAmount = (((this.incentivePercentage) / 100) * this.form.incentive_amount).toFixed(2);
        this.message = 'Note: $' + totalAmount + ' will be charged extra for incentive.';
      },
    },
    computed: {
      askNumberOfHomes() {
        return !!this.service.requires_number_of_homes;
      },
      selectedCitiesIds() {
        return this.selectedCities.map(item => item.id)
      }
    }
  }
</script>
