<template>
  <div class="modal fade"
       tabindex="-1"
       role="dialog"
       id="job-done-modal">
    <div class="modal-dialog" role="document">
      <form id="confirm-form"
            action="/"
            method="post"
            @submit.prevent="submit()">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm action</h5>
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              Do you wish to mark this job as done?
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-small btn-purple" :disabled="processing">Done</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'JobDoneModal',
    data() {
      return {
        index: null,
        actionUrl: null,
        processing: false
      }
    },
    mounted() {
      $(this.$el).on('show.bs.modal', (event) => {
        this.index = event.relatedTarget.dataset.index;
        this.actionUrl = route('jobs.actions.done', event.relatedTarget.dataset.id);
      })
    },
    methods: {
      submit() {
        this.processing = true;

        this.$http.post(this.actionUrl, {})
          .then(response => {
            $(this.$el).modal('hide');
            this.$bus.$emit('job.done', this.index, response.data);
          })
          .catch(response => {
            // todo show errors
          })
          .then(() => {
            this.processing = false;
          })
      }
    },
    beforeDestroy() {
      $(this.$el).off('show.bs.modal');
    },
  }
</script>
