<template>
  <div class="card-white">
    <h3>Job Offers Completed</h3>
    <div class="job-info" v-for="job in items" :key="job.id">
      <div class="img-round">
        <img :src="job.service.image_url" alt="oktohub">
      </div>
      <div class="info-right">
        <div class="time">
          <timeago :datetime="job.created_at" :auto-update="true"/>
        </div>
        <h4>{{ job.display_name }}, <span>{{ flatList(job.cities) }}</span></h4>
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <h5>On {{ job.formatted_due_date }}</h5>
          </div>
          <div class="col-sm-12 col-md-4 text-md-center accepted">
            <a :href="route('profile.show',job.assignee)">Assigned to {{ job.assignee.profile.full_name }}</a>
          </div>
          <div class="col-sm-12 col-md-4 text-md-right">
            <div class="buttons">
              <a :href="route('jobs.show',job)" class="btn btn-purple btn-small text-light m-0">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import flatList from '@/js/mixins/flatList';

  export default {
    name: 'SentJobsCompleted',
    mixins: [flatList],
    props: {
      jobs: {
        type: Array,
        required: true
      }
    },
    data() {
      return {
        items: this.jobs
      }
    }
  }
</script>
