<template>
  <form method="post" enctype="multipart/form-data" @submit.prevent="submit">
    <section class="card-white wrap-form">
      <div class="img-round round-big">
        <img :src="preview" alt="avatar">
      </div>
      <div class="form-group">
        <label>Upload Photo</label>
        <div class="custom-file">
          <input type="file"
                 class="custom-file-input form-control"
                 id="avatar-file"
                 @change="onFileChange"
                 accept="image/*"
                 name="avatar"
                 v-error="errors">
          <label class="custom-file-label" for="avatar-file"/>
          <form-error :bag="errors" field="avatar"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>First Name</label>
            <input type="text"
                   v-model="form.first_name"
                   class="form-control"
                   v-error="errors"
                   name="first_name">
            <form-error :bag="errors" field="first_name"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Last Name</label>
            <input type="text"
                   v-model="form.last_name"
                   class="form-control"
                   name="last_name"
                   v-error="errors">
            <form-error :bag="errors" field="last_name"/>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Bio</label>
        <textarea rows="5"
                  v-model="form.bio"
                  class="form-control"
                  name="bio"
                  v-error="errors"/>
        <form-error :bag="errors" field="bio"/>
      </div>
      <div class="form-group">
        <label>Experience</label>
        <textarea rows="5"
                  v-model="form.experience"
                  class="form-control"
                  name="experience"
                  v-error="errors"/>
        <form-error :bag="errors" field="experience"/>
      </div>
      <div class="form-group">
        <label>Education</label>
        <textarea rows="5"
                  v-model="form.education"
                  class="form-control"
                  name="education"
                  v-error="errors"/>
        <form-error :bag="errors" field="education"/>
      </div>

      <h4>Services</h4>
      <div class="form-group">
        <multiselect v-model="selectedServices"
                     :options="services"
                     :multiple="true"
                     label="name"
                     placeholder="Type to search"
                     track-by="id"
                     :hide-selected="true"
        />
        <form-error :bag="errors" field="services" class-name="text-danger"/>
      </div>

      <h4>Work Cities</h4>
      <div class="form-group">
        <multiselect v-model="selectedCities"
                     :options="cities"
                     :multiple="true"
                     label="name"
                     placeholder="Type to search"
                     track-by="id"
                     :hide-selected="true"
        />
        <form-error :bag="errors" field="cities" class-name="text-danger"/>
      </div>

      <h4>Contact</h4>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>City</label>
            <input type="text"
                   v-model="form.city"
                   class="form-control"
                   name="city"
                   v-error="errors">
            <form-error :bag="errors" field="city"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>State</label>
            <input type="text"
                   v-model="form.state"
                   class="form-control"
                   name="state"
                   v-error="errors">
            <form-error :bag="errors" field="state"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Street Address</label>
            <input type="text"
                   v-model="form.street_address"
                   class="form-control"
                   name="street_address"
                   v-error="errors">
            <form-error :bag="errors" field="street_address"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Zip code</label>
            <input type="text"
                   v-model="form.zip_code"
                   class="form-control"
                   name="zip_code"
                   v-error="errors">
            <form-error :bag="errors" field="zip_code"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label>Area Code</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">+1</div>
              </div>
              <input type="text"
                     v-model="form.area_code"
                     class="form-control"
                     name="area_code"
                     maxlength="3"
                     v-error="errors">
              <form-error :bag="errors" field="area_code"/>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="form-group">
            <label>Primary phone</label>
            <input type="text"
                   v-model="form.primary_phone"
                   class="form-control"
                   name="primary_phone"
                   v-error="errors">
            <form-error :bag="errors" field="primary_phone"/>
          </div>
        </div>
      </div>

      <h4>Update your preferences</h4>
      <div class="custom-control custom-checkbox">
        <input type="checkbox"
               id="email_notifications"
               v-model="form.email_notifications"
               class="custom-control-input"
               name="email_notifications"
               v-error="errors">
        <label class="custom-control-label" for="email_notifications">Mail notifications</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox"
               id="sms_notifications"
               v-model="form.sms_notifications"
               class="custom-control-input"
               name="sms_notifications"
               v-error="errors">
        <label class="custom-control-label" for="sms_notifications">SMS notifications</label>
      </div>
      <div class="form-group text-right">
        <input type="submit"
               value="Save"
               class="btn btn-purple"
               :disabled="processing">
      </div>
    </section>
  </form>
</template>

<script>
  import Multiselect from 'vue-multiselect'
  import formErrorsMixin from '@/js/mixins/formErrors';
  import {serialize as objectToFormData} from 'object-to-formdata';

  export default {
    name: 'EditProfile',
    mixins: [formErrorsMixin],
    props: {
      user: {
        type: Object,
        required: true
      },
      services: {
        required: true,
        type: Array
      },
      cities: {
        required: true,
        type: Array
      },
    },
    components: {
      Multiselect
    },
    data() {
      return {
        preview: this.user.profile.avatar_thumb_url,
        processing: false,
        selectedServices: this.user.services,
        selectedCities: this.user.cities,
        form: {}
      }
    },
    created() {
      this.form = {
        first_name: this.user.profile.first_name,
        last_name: this.user.profile.last_name,
        bio: this.user.profile.bio,
        experience: this.user.profile.experience,
        education: this.user.profile.education,

        city: this.user.address.city,
        state: this.user.address.state,
        street_address: this.user.address.street_address,
        zip_code: this.user.address.zip_code,
        area_code: this.user.address.area_code,
        primary_phone: this.user.address.primary_phone,
        cities: this.selectedCitiesIds,
        services: this.selectedServicesIds,

        email_notifications: this.user.preference.email_notifications,
        sms_notifications: this.user.preference.sms_notifications,
      };
    },
    mounted() {
    },
    methods: {
      submit() {
        this.processing = true;
        this.errors.clear();

        this.$http.post(route('account.profile.updateProfile'), this.getPayload())
          .then(response => {
            this.errors.clear();
            this.form.avatar = null;
            this.preview = response.data.avatar_thumb_url;
            this.$toast.success('Profile saved.')
          })
          .catch(error => {
            this.recordErrors(error);
          })
          .then(() => {
            this.processing = false;
          })
      },
      getPayload() {
        return objectToFormData(Object.assign({},this.form, {
          cities: this.selectedCitiesIds,
          services: this.selectedServicesIds,
        }),{
          indices: true,
          booleansAsIntegers: true
        });
      },
      onFileChange(event) {
        let files = event.target.files || event.dataTransfer.files;

        if (!files.length) return;

        if (!files[0].type.match('image.*')) {
          delete this.form.avatar;
          event.target.value = null;
          return;
        }

        this.form.avatar = files[0];

        let reader = new FileReader();

        reader.onload = (e) => {
          this.preview = e.target.result;
        };

        reader.readAsDataURL(files[0]);
      },
    },
    computed: {
      selectedServicesIds() {
        return this.selectedServices.map((item) => {
          return item.id;
        })
      },
      selectedCitiesIds() {
        return this.selectedCities.map((item) => {
          return item.id;
        })
      }
    }
  }
</script>
